div     {   display:flex;
            justify-content: center;
            position: relative;
            animation-name: nigeria;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            font-family:cursive; 
            text-shadow: 2px 4px green;
            color: rgb(19, 150, 19);
            font-size: 2.5rem;
            font-weight: 900;
            animation-timing-function: ease;
            animation-direction: alternate-reverse;
        }

@keyframes nigeria{
    0%  {top:0}
    50%{top: -10px;}
    100%{bottom: 0;}
}

